/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.ui-dialog {
    .mat-mdc-dialog-container {
        .mdc-dialog__surface {
            border-radius: 25px;
        }
        .mdc-dialog__title {
            padding: 1.125rem 1.125rem 0 1.125rem;
        }
        .mdc-dialog__content {
            padding: 1.125rem;
        }
        .mdc-dialog__actions {
            padding: 0 1.125rem 1.125rem 1.125rem;
        }
    }
}
