<div class="container">
    <div class="wrapper">
        <img src="assets/images/jcin-logo.png" alt="" class="img-responsive img-fluid w-25">
        <p class="display-5 fw-bold my-3">Welcome to the JCI Nigeria conference management portal</p>
        <div class="cards row mt-5">
            <div class="col-md-3">
                <div class="card shadow-sm" [routerLink]="['/southern-conf/delegates']" routerLinkActive="active" >
                    <div class="card-body">
                        <img src="assets/images/southern-conf-logo.jpg" alt="" class="img-fluid mb-3">
                        Southern Conference
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="card shadow-sm disabled text-muted">
                    <div class="card-body">
                        <img src="assets/images/collegiate-conf-logo.jpg" alt="" class="img-fluid mb-3">
                        <p>Collegiate Conference</p>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="card shadow-sm">
                    <div class="card-body">
                        <img src="assets/images/jcin-logo.png" alt="" class="img-responsive img-fluid w-75">
                        <p>Northern Conference</p>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="card shadow-sm">
                    <div class="card-body">
                        <img src="assets/images/natcon-logo.png" alt="" class="img-responsive img-fluid w-75">
                        <p>National Convention</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="text-center mt-5">
            <button class="btn btn-primary rounded-pill px-5" *ngIf="!isLoggedIn" (click)="sigin()">Sign In</button>
            <button class="btn btn-primary rounded-pill px-5 me-3" *ngIf="isLoggedIn && isAdmin" (click)="addUser()">Add User</button>
            <button class="btn btn-outline-danger rounded-pill px-5" (click)="logout()" *ngIf="isLoggedIn">Logout</button>
        </div>
    </div>
</div>